body{
    background-color: #222222;
}
.header{color: gold;
font-family: Georgia, 'Times New Roman', Times, serif;}
.flex{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5px;
}
.selectButton{
    display: flex;
    padding-top: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
    
}
button{
    background-color: blue;
    border-radius: 12px;
    margin:2px;
    border-color: gold;
}
button:hover{
    background-color: #04AA6D;
}
