body{
    background-color: #080808;
    transform: scale(1.2);
}
h1{
    font-size: 19px;
    color: gold;
}
.header {
    color: rgb(255, 30, 218);
    -family: Georgia, 'Times New Roman', Times, serif;

    
}
p{
    margin: 6px
}
.flex{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5px;
    margin-top: 9vw;
}
.selectButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gold;
   
    
}
button{
    background-color: blue;
    border-radius: 12px;
    margin:2px;
    border-color: gold;
    cursor: pointer;
    transition: 500ms;
    padding: 7px;
    text-align: center
}
button:hover{
    background-color: #04AA6D;
    transform: scale(1.2);
}
.result{

    display: grid;
justify-content: center;
grid-template-columns: repeat(2, 1fr);
margin: 12px;

}
.p1{ 
    color:red;
    margin-right: 34px;
    padding-right: 10px;
}
.p2{
    color: blue;
    margin-left: 34px;
    padding-right: 10px;
}
.roundResult{
    display:flex;
    justify-content: center;
    align-items: center;
    border: blue;
    border-style: solid;
    width: 100px;
    text-align: center;
    color: rgb(116, 35, 229);
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(28, 28, 28);

}